<script>
micro.components = micro.components || {};

/**
 * Link including a preview of the target resource.
 *
 * .. attribute:: resource
 *
 *    Target :ref:`Resource` description.
 */
micro.components.LinkElement = class extends HTMLElement {
    createdCallback() {
        this.appendChild(
            document.importNode(document.querySelector("#micro-link-template").content, true)
        );
        this._data = new micro.bind.Watchable({
            resource: null
        });
        micro.bind.bind(this.children, this._data);
    }

    get resource() {
        return this._data.resource;
    }

    set resource(value) {
        this._data.resource = value;
    }
};

document.addEventListener(
    "DOMContentLoaded", () => document.registerElement("micro-link", micro.components.LinkElement)
);
</script>

<template id="micro-link-template">
    <a class="link"
        data-class-micro-link-has-image="resource.image" data-href="resource.url" target="_blank"
    >
        <img data-src="or resource.image.url ''" />
        <p data-content="or resource.description resource.url"></p>
    </a>
</template>

<style>
micro-link {
    display: inline-block;
    background: #ddd;
}

micro-link .link {
    display: grid;
    /*grid-template-rows: 100px;*/
    /*max-height: 100%;*/
    /*height: 100%;*/
}

micro-link img {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    /*max-height: 100%;
    min-width: 0;
    min-height: 0;*/
}
micro-link .link:hover,
micro-link .link:focus {
    text-decoration: none;
}

micro-link p {
    padding: var(--micro-size-xs);
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: end;
    margin: 0;
    color: var(--micro-color-text);
    max-height: calc(1.5em + 2 * var(--micro-size-xs));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

micro-link .link.micro-link-has-image p {
    background: rgba(221, 221, 221, 0.66);
    /*border: 1px solid var(--micro-color-delimiter);
    border-top: none;*/
}

micro-link .link:not(.micro-link-has-image) img {
    display: none;
}
</style>
