<script>
document.addEventListener("DOMContentLoaded", () => {

/**
 * TODO.
 */
micro.ListInputElement = class extends HTMLElement {
    createdCallback() {
        let add = item => {
            this.nativeInput.value = "";
            this._data.value.push(item);
        };

        this.appendChild(
            document.importNode(document.querySelector("#micro-list-input-template").content, true)
        );
        this.nativeInput = this.querySelector("input");
        this._data = new micro.bind.Watchable({
            value: new micro.bind.Watchable([]),
            template: this.querySelector("micro-list-input > template"),
            focus: false,
            order: true, //false,

            remove: item => {
                this._data.value.splice(this._data.value.indexOf(item), 1);
                this.nativeInput.focus();
            },

            onKeyPress: event => {
                switch(event.key) {
                case "Enter":
                case "Tab":
                    if (this.nativeInput.value) {
                        event.preventDefault();
                        add(this.nativeInput.value);
                    }
                    break;
                case "Backspace":
                    if (event.target.selectionStart === 0) {
                        let item = this._data.value.pop();
                        if (item) {
                            this.nativeInput.value = item;
                        }
                    }
                    break;
                }
            },

            onFocus: () => {
                this._data.focus = true;
            },

            onBlur: () => {
                this._data.focus = false;
            }

            /*options: null,
            onSelect: add,

            compileOptions(ctx, options, values) {
                // TODO implement
            }*/
        });
        micro.bind.bind(this.children, this._data);

        // XXX
        //this.options = ["Hallo", "Lustig", "Ja"];
    }

    /** TODO. */
    get value() {
        this._data.value;
    }

    set value(value) {
        this._data.value = new micro.bind.Watchable(value.slice());
        // this._compileOptions();
    }

    /*get options() {
        return this.data._options;
    }

    set options(value) {
        this.data._options = value;
    }

    get toText() {
        return this._data.toText;
    }

    set toText(value) {
        this._data.toText = value;
    }*/
};
document.registerElement("micro-list-input", micro.ListInputElement);

});
</script>

<template id="micro-list-input-template">
    <div class="micro-input-wrapper" data-class-micro-list-input-order="order" data-class-focus-within="focus">
        <ol is="micro-ol" data-content="list value 'item'">
            <template>
                <li>
                    <span data-class-micro-ol-handle="order">
                        <i class="fa fa-grip-vertical micro-list-input-grip"></i><!--
                     --><span data-content="render template">
                            <template><span data-content="item"></span></template>
                        </span><!--
                 --></span><!--
                 --><button
                        is="micro-button" type="button" class="action action-subtle" tabindex="-1"
                        data-run="bind remove item"
                    >
                        <i class="fa fa-minus-circle"></i>
                    </button><!--
             --></li>
            </template>
        </ol>
        <input data-onkeydown="onKeyPress" data-onfocus="onFocus" data-onblur="onBlur" />
        <!--
        <micro-options
            data-options="compileOptions options values" data-to-text="toText" data-onselect="onSelect"
            data-content="template"
        >
        </micro-options>
        -->
    </div>
</template>

<style>
    micro-list-input .action {
        color: inherit;
        /*margin-left: 1ch;*/
        /*font-size: var(--micro-size-text-s);*/
        margin-left: 1px;
    }

    micro-list-input .action > i {
        color: var(--micro-color-primary);
    }

    micro-list-input .micro-input-wrapper > ol {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-flow: row wrap;
    }

    micro-list-input .micro-input-wrapper > ol > li {
        margin-right: var(--micro-size-xs);
        margin-right: 1ch;
        /*border-bottom: 1px solid var(--micro-color-delimiter);*/
    }

    micro-list-input .micro-input-wrapper > ol > li:not(:last-child)::after {
        /*content: "\00a0";*/
        /*content: ",\00a0";*/
        /*color: var(--micro-color-text-subtle);*/
    }

    .micro-list-input-grip {
        color: var(--micro-color-text-subtle);
        margin-right: 1px;
    }

    micro-list-input .micro-input-wrapper:not(.micro-list-input-order) .micro-list-input-grip {
        display: none;
    }
</style>
