<script>
document.addEventListener("DOMContentLoaded", () => {

/**
 * TODO.
 */
micro.ListInputElement = class extends HTMLElement {
    createdCallback() {
        let add = item => {
            this.nativeInput.value = "";
            if (this._set) {
                let i = this._data.value.findIndex(v => this._equals(v, item));
                if (i !== -1) {
                    this._data.value.splice(i, 1);
                }
            }
            this._data.value.push(item);
        };

        this.appendChild(
            document.importNode(document.querySelector("#micro-list-input-template").content, true)
        );
        this.nativeInput = this.querySelector("input");
        this._data = new micro.bind.Watchable({
            value: new micro.bind.Watchable([]),
            template: this.querySelector("micro-list-input > template"),
            focus: false,
            order: true, //false,

            remove: item => {
                this._data.value.splice(this._data.value.indexOf(item), 1);
                this.nativeInput.focus();
            },

            onClick: event => {
                this.nativeInput.focus();
            },

            onKeyPress: event => {
                switch(event.key) {
                case "Enter":
                case "Tab":
                    if (this.nativeInput.value) {
                        event.preventDefault();
                        add(this.nativeInput.value);
                    }
                    break;
                case "Backspace":
                    if (event.target.selectionStart === 0) {
                        event.preventDefault();
                        let item = this._data.value.pop();
                        if (item) {
                            this.nativeInput.value = item;
                        }
                    }
                    break;
                }
            },

            onFocus: () => {
                this._data.focus = true;
            },

            onBlur: () => {
                this._data.focus = false;
                /*if (this.nativeInput.value) {
                    add(this.nativeInput.value);
                }*/
            }

            /*options: null,
            onSelect: add,

            compileOptions(ctx, options, values) {
                // TODO implement
            }*/
        });
        micro.bind.bind(this.children, this._data);

        this._set = false;
        this._equals = (a, b) => a === b;
        // XXX
        //this.options = ["Hallo", "Lustig", "Ja"];
    }

    /** TODO. */
    get value() {
        this._data.value;
    }

    set value(value) {
        this._data.value = new micro.bind.Watchable(value.slice());
        // this._compileOptions();
    }

    get set() {
        return this._set;
    }

    set set(value) {
        this._set = value;
    }

    get order() {
        return this._data.order;
    }

    set order(value) {
        this._data.order = value;
    }

    /*get options() {
        return this.data._options;
    }

    set options(value) {
        this.data._options = value;
    }

    get toText() {
        return this._data.toText;
    }

    set toText(value) {
        this._data.toText = value;
    }*/
};
document.registerElement("micro-list-input", micro.ListInputElement);

});
</script>

<template id="micro-list-input-template">
    <div class="micro-input-wrapper" data-class-micro-list-input-order="order" data-class-focus-within="focus" data-onclick="onClick">
        <ol is="micro-ol" data-content="list value 'item'">
            <template>
                <li class="micro-panel">
                    <span data-class-micro-ol-handle="order">
                        <i class="fa fa-grip-vertical micro-list-input-grip"></i>
                    </span>
                    <span class="micro-list-input-item" data-content="render template">
                        <template><span data-content="item"></span></template>
                    </span>
                    <button
                        is="micro-button" type="button" class="action" tabindex="-1"
                        data-run="bind remove item"
                    >
                        <!--<i class="far fa-times-circle"></i>-->
                        <!--<i class="fa fa-times"></i>-->
                        <i class="far fa-times-circle"></i>
                    </button><!--
             --></li>
            </template>
        </ol>
        <input data-onkeydown="onKeyPress" data-onfocus="onFocus" data-onblur="onBlur" />
        <!--
        <micro-options
            data-options="compileOptions options values" data-to-text="toText" data-onselect="onSelect"
            data-content="template"
        >
        </micro-options>
        -->
    </div>
</template>

<style>
    micro-list-input .micro-panel .action {
        padding: 1px 0.25em;
        color: var(--micro-color-text-subtle);
    }

    micro-list-input .micro-input-wrapper > ol {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        flex-flow: row wrap;
    }

    micro-list-input .micro-input-wrapper > ol > li {
        display: flex;
        border: 1px solid var(--micro-color-delimiter);
        border-radius: 0.25em;
        margin: 0 0.25em 0.25em 0;
        align-items: flex-start;
    }

    /* exp */

    micro-list-input .action {
        /*color: inherit;*/
        /*margin-left: 1ch;*/
        /*font-size: var(--micro-size-text-s);*/
        /*margin-left: 1px;*/
    }

    micro-list-input .action > i {
        /*color: var(--micro-color-primary);*/
    }

    micro-list-input .micro-input-wrapper > ol > li {
        /*margin-right: 1ch;*/
        /*padding: 0 0.25em 1px 0.25em;*/
        /*padding: 1px 0.25em;*/
        /*background: var(--micro-color-delimiter);*/
    }

    .micro-list-input-item {
        align-self: center;
        padding: 1px;
        padding: 1px 1px 1px 0.25em;
    }

    .micro-list-input-item > * {
        display: block !important;
    }

    micro-list-input .micro-input-wrapper > ol > li:not(:last-child)::after {
        /*content: "\00a0";*/
        /*content: ",\00a0";*/
        /*color: var(--micro-color-text-subtle);*/
    }

    /*micro-list-input .micro-ol-handle > span {
        vertical-align: middle;
    }

    micro-list-input .micro-ol-handle::after {
        content: '.';
        display: inline-block;
        height: 100%;
        background: red;
        vertical-align: middle;
    }*/

    /*micro-list-input .action.action-subtle:hover {
        background: var(--micro-color-delimiter);
    }

    micro-list-input .action.action-subtle i {
        padding: 0 0.25em;
        color: var(--micro-color-text-subtle);
    }*/

    micro-list-input .micro-ol-handle {
        padding: 0 0.25em;
    }

    micro-list-input .micro-ol-handle:hover {
        background: var(--micro-color-delimiter);
    }

    .micro-list-input-grip {
        color: var(--micro-color-text-subtle);
        /*margin-right: 1px;*/
    }

    micro-list-input .micro-input-wrapper:not(.micro-list-input-order) .micro-list-input-grip {
        display: none;
    }
</style>
