<script>
micro.components = micro.components || {};

micro.components.VideoElement = class extends HTMLElement {
    createdCallback() {
        this._video = null;
        this.appendChild(
            document.importNode(document.querySelector("#micro-video-template").content, true)
        );
    }

    attachedCallback() {
        function importYt() {
            if (!micro.components.VideoElement._yt) {
                micro.components.VideoElement._yt = new Promise(resolve => {
                    window.onYouTubeIframeAPIReady = () => resolve(window.YT);
                    micro.util.import("https://www.youtube.com/iframe_api");
                });
            }
            return micro.components.VideoElement._yt;
        }

        (async() => {
            const yt = await importYt();
            const url = new URL(this._video.url);
            const videoId = url.searchParams.get("v");
            this._player = new yt.Player(
                this.querySelector("div"), {width: 480, height: 270, videoId}
            );
            this._player.addEventListener("onStateChange", event => {
                if (event.data === 2 || event.data === 0) {
                    this.dispatchEvent(new CustomEvent("pause"));
                } else if (event.data === 1) {
                    this.dispatchEvent(new CustomEvent("play"));
                }
            });
        })().catch(micro.util.catch);
    }

    get video() {
        return this._video;
    }

    set video(value) {
        this._video = value;
    }

    play({reset = false} = {}) {
        if (reset) {
            this._player.seekTo(0);
        }
        this._player.playVideo();
    }

    pause() {
        this._player.pauseVideo();
    }

    get duration() {
        return this._player.getDuration();
    }

    get time() {
        return this._player.getCurrentTime();
    }
}

document.addEventListener(
    "DOMContentLoaded", () => document.registerElement("micro-video", micro.components.VideoElement)
);
</script>

<template id="micro-video-template">
    <div></div>
</template>

<style>
micro-video {
    position: relative;
    padding-top: calc(9 / 16 * 100%);
}

micro-video iframe[title] {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
</style>
